{% extends "../partials/layout.html" %}
{% from "back-link/macro.njk" import govukBackLink %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Task list",
        href: "/tasklist"
      },
      {
        text: formName | capitalize
      }
    ]
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: backLink or '/tasklist'
  }) }}
{% endblock %}


{% block content %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  {% block formItems %}

  {% endblock %}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>

{% endblock %}
