{% extends "../../partials/layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "button/macro.njk" import govukButton %}

{% block content %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "default-radio",
    name: "moveToQ2",
    fieldset: {
      legend: {
        text: "Do you want to move to question 2?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select 'Yes' to move on to question 2, 'No' will return you to the index."
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: "true" if data.moveToQ2 === 'Yes'
      },
      {
        value: "No",
        text: "No",
        checked: "true" if data.moveToQ2 === 'No'
      }
    ]
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>

{% endblock %}
