{% extends "../../partials/layout.html" %}

{% from "radios/macro.njk" import govukRadios %}
{% from "textarea/macro.njk" import govukTextarea %}
{% from "button/macro.njk" import govukButton %}
{% from "warning-text/macro.njk" import govukWarningText %}

{% block content %}

<form method="post">
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

  {% set reasonHtml %}
    {{ govukTextarea({
      id: "reason",
      name: "reason",
      classes: "govuk-!-width-two-thirds",
      label: {
        text: "Can you provide more detail?"
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    classes: "govuk-radios--inline",
    idPrefix: "default-radio",
    name: "skipQ3",
    fieldset: {
    legend: {
      text: "Would you like to skip question 3?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "Select 'Yes' to move on to question 4, 'No' will send you to question 3."
    },
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: "true" if data.skipQ3 === 'Yes',
        conditional: {
          html: reasonHtml
        }
      },
      {
        value: "No",
        text: "No",
        checked: "true" if data.skipQ3 === 'No'
      }
    ]
  }) }}

  {{ govukWarningText({
    text: "You definitely shouldn't skip question 3.",
    iconFallbackText: "Warning"
  }) }}

  {{ govukButton({
    text: "Save and continue"
  }) }}

</form>

{% endblock %}

